<%- include("partials/header"); -%>

    <div class="page-content">
        <div class="blog-compose-container">
            <h1>Compose</h1>
            <form action="/compose" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="composeTitle" class="form-control" id="title" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="post">Post</label>
                    <textarea name="composePost" class="form-control" id="post" cols="30" rows="7"></textarea>
                </div>
                <button type="submit" class="btn">Publish</button>
            </form>
        </div>
    </div>

    <%- include("partials/footer"); -%>