<%- include("partials/header"); -%>

    <div class="page-content">
        <h1>Contact</h1>
        <p class="contact-content">
            <%= cC %>
        </p>
    </div>

<%- include("partials/footer"); -%>